
@{
    ViewData["Title"] = "Details";
}

@model Product

<h1>Details</h1>

<div class="card">
    <img src="@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Category.Name</p>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var item in @Model.ProductTags)
        {
            <li class="list-group-item">@item.Tag.Name</li>
        }

    </ul>
    <div class="card-body">
        <span class="card-link">@Html.Raw(@Model.Description)</span>
        
    </div>
    <span>Rating: @Model.Rating</span>
    <span>Price: @Model.Price</span>
    <a asp-action="Index" asp-controller="Product" class="card-link">Back</a>
</div>

