@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Product>


    @if (TempData.ContainsKey("status"))
{
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Products!</strong>@TempData["status"]
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-4" style="width: 18rem;">
                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Category</p>
                    <span>@item.Rating</span>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        }
    </div>
}
